@font-face {
  font-family: "ubunto";
  src: url("assets/fonts/Ubuntu-Regular.ttf");
  }
.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header{}
.section-title{}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
 }

.nav-link {
  padding: 0 20px;
  line-height: 50px;
}

.footer{}
.main{}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
}

