@font-face {
  font-family: "ubunto";
  src: url("assets/fonts/Ubuntu-Regular.ttf");
  }
.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header{}
.footer{}
.main{}

.container {
  max-width: 1440px;
  margin: 0 auto;
}


